{% extends 'base.html' %}

{% block title %}
    About - Salon Application
{% endblock %}

{% block content %}
<br>
    <h2>Welcome to Our Mathipa Salon</h2><br>
    <br>
    <br>
    <p>Discover the art of beauty and relaxation at Mathipa Salon. </p>
    <p>Our expert stylists and therapists are dedicated to providing you with personalized care and top-notch services.</p>
    <p>Whether you're looking for a stunning new hairstyle, revitalizing skincare treatments, or luxurious nail care,</p>
    <p>we're here to pamper you and help you look and feel your best.</p>

    <p>Explore our services, book your appointment today, and indulge in a salon experience like no other. Join us at Beauty Salon and embrace beauty, inside and out.</p>

    <br>
    <p>Contact Us:</p>
    <p>
        <p>Our salon is located at Mathipa Street Mantheding, We're open from 9 AM to 7 PM, Monday to Saturday.</p>
        <p>You can reach us</p>
        <a href="tel:+1234567890"><i class="fas fa-phone-alt"></i> +27 68 155 0088 / +27 72 152 7150</a><br>
        <a href="mailto:info@beautysalon.com"><i class="fas fa-envelope"></i> salon@gmail.com</a><br>
        <a href="https://www.facebook.com/profile.php?id=61550128833017" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
    </p>
    
{% endblock %}
